<!DOCTYPE html>
<html>
    <head>
        <title>Carlos Gasperi Portfolio</title>

        <!--Here we will link the CDN's to our site-->
        <!--CSS-->
        <link type="text/css" rel="stylesheet" href="/styles/reset.css">
        <link type="text/css" rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        <!--jQuery-->
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <!--Font Awesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
        <!--Google fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <!--Modal-->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>-->
    </head>

    <body>
        {{{body}}}
    </body>

    <script src="/javascript/app.js"></script>

</html>