<nav class="navbar navbar-expand-lg navbar-light">
  <span class="navbar-brand mb-0 h1" href="#">Carlos Gasperi</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container jumbotron">
    <div>
        <h1>My Projects!</h1><hr class="my-4">
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="https://fi.co/system/posts/44299297_s.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><strong>About Me Project</strong></h5>
                    <p class="card-text">Simple page that tells users about me. Enjoy!</p>
                    <a href="https://github.com/cgasperi90/Bootstrap-Portfolio.git" class="btn btn-primary"><i class="fab fa-github"></i></a>
                    <a href="https://cgasperi90.github.io/Bootstrap-Portfolio/" class="btn btn-primary">About Me</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="https://psmedia.playstation.com/is/image/psmedia/crash-bandicoot-n-sane-trilogy-two-column-02-ps4-eu-20jun17?$TwoColumn_Image$" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><strong>GameBros Project</strong></h5>
                    <p class="card-text">Dont know which game to buy? This is the site you want to visit!</p>
                    <a href="https://github.com/MikeVong/Project-1.git" class="btn btn-primary"><i class="fab fa-github"></i></a>
                    <a href="https://mikevong.github.io/Project-1/" class="btn btn-primary">GameBros</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="https://cdn0.iconfinder.com/data/icons/interface-editing-and-time-1/64/gif-document-file-512.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><strong>Gif Project</strong></h5>
                    <p class="card-text">All your favorite Gifs in one place!</p>
                    <a href="https://github.com/cgasperi90/GiphyApp.git" class="btn btn-primary"><i class="fab fa-github"></i></a>
                    <a href="https://cgasperi90.github.io/GiphyApp/" class="btn btn-primary">Gifs!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="https://cdn3.iconfinder.com/data/icons/brain-games/1042/Quiz-Games.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><strong>NFL Trivia Project</strong></h5>
                    <p class="card-text">You think you know the NFL? Lets find out!</p>
                    <a href="https://github.com/cgasperi90/TriviaGame.git" class="btn btn-primary"><i class="fab fa-github"></i></a>
                    <a href="https://cgasperi90.github.io/TriviaGame/" class="btn btn-primary">NFL Trivia</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="https://cdn3.iconfinder.com/data/icons/entertainment-ultra/60/012_-_Psychic-512.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><strong>Psychic Game Project</strong></h5>
                    <p class="card-text">Can you guess what letter I'm thinking of? 🤔</p>
                    <a href="https://github.com/cgasperi90/Psychic-Game.git" class="btn btn-primary"><i class="fab fa-github"></i></a>
                    <a href="https://cgasperi90.github.io/Psychic-Game/" class="btn btn-primary">Psychic Game</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="https://cdn1.iconfinder.com/data/icons/materia-transport-vol-2/24/014_052_sign_railway_tram_train-512.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><strong>Train Time Project</strong></h5>
                    <p class="card-text">Intuitive page to schedule trains and calculate time!</p>
                    <a href="https://github.com/cgasperi90/TrainTime.git" class="btn btn-primary"><i class="fab fa-github"></i></a>
                    <a href="https://cgasperi90.github.io/TrainTime/" class="btn btn-primary">Train Time</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="https://apprecs.org/gp/images/app-icons/300/cc/com.nutritionix.nixtrack.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><strong>Calorie Counter Project</strong></h5>
                    <p class="card-text">Come count and log your calories with us!</p>
                    <a href="https://github.com/OdincoGaming/GroupProject2.git" class="btn btn-primary"><i class="fab fa-github"></i></a>
                    <a href="https://group-project-2-calorie-counte.herokuapp.com/" class="btn btn-primary">Calorie Counter</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://www.stjohnscentre.org/wp-content/uploads/2019/09/newspaper.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><strong>Fantasy Footbal Scraper Project</strong></h5>
                    <p class="card-text">Find your most up to date Fantasy Football News!</p>
                    <a href="https://github.com/cgasperi90/NewsScraper.git" class="btn btn-primary"><i class="fab fa-github"></i></a>
                    <a href="https://limitless-beach-47181.herokuapp.com/" class="btn btn-primary">Fantasy Football News</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://cdn5.vectorstock.com/i/1000x1000/93/69/cartoon-guys-five-best-friends-student-vector-22549369.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><strong>Friend Finder Project</strong></h5>
                    <p class="card-text">Take a quiz and be matched to other users!</p>
                    <a href="https://github.com/cgasperi90/NewsScraper.git" class="btn btn-primary"><i class="fab fa-github"></i></a>
                    <a href="https://fast-mountain-06328.herokuapp.com/" class="btn btn-primary">Friend Finder</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="https://www.freepngimg.com/thumb/mouse_cursor_click/3-2-click-transparent.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><strong>Clicky Game Project</strong></h5>
                    <p class="card-text">Play this fun memory game where you can't click the same picture twice!</p>
                    <a href="https://github.com/cgasperi90/ClickyGameReact.git" class="btn btn-primary"><i class="fab fa-github"></i></a>
                    <a href="https://cgasperi90.github.io/ClickyGameReact/" class="btn btn-primary">Clicky Game</a>
                </div>
            </div>
        </div>
    </div>
</div>