body {
    font-family: 'Open Sans', sans-serif !important;
    color: #F4FFF8 !important;
}
.fa-ghost {
    color: white;
    font-size: 50px;
}
.jumbotron {
    text-align: center;
    background-color: #39304A !important;
    border-radius: 10px !important;
}
.navbar {
    background-color: #39304A !important;
    margin-bottom: 75px;
}
.my-4 {
    background-color: #F4FFF8;
}
.btn {
    background-color: #FF5964 !important;
    border: #FF5964 !important;
}
#project-page {
    background-color: #39304A;
    padding: 20px;
    position: relative;
    top: -400px;
}
img {
    
}
h3 {
    color: #F4FFF8;
}
.btn:hover {
    scale: 1.03px !important;
    transform: scale(1.1);
}
#project-page {
    margin: 30px;
    padding: 30px;
}


